<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Fruit</title>
</head>
<body>
    <div class="header">
        <p>Dojo Fruit Store</p>
    </div>

    {% block content %}
    
    {% endblock %}

    <div class="footer">            
        <p> Dojo Fruit Store </p>
        <p>Copyright &copy;2001-<script type="text/JavaScript"> var theDate=new Date(); document.write(theDate.getFullYear())</script></p>
    </div>
</body>
</html>